#### Run DQ Validation Script on Customer Database

load main script

In [0]:
%run ./_dq-library

Create demo dataset from custDB (commented out)

In [0]:
# # import customer database to spark
# custdb = spark.sql("""
#                 select Cons_CustomerID, Salutation, Full_Name, National_Identifier, ZipCode, Phone_1, Phone_2, Mobile_1, Mobile_2, Email, Email_2, Nationality, Gender, DOB
#                 from customer_db.consolidated_customer_profile
#                 order by rand()
#                 limit 1000""")

# custdb.write.mode('overwrite').parquet("/mnt/sgpdcompstrappdata01/20230801-customer/DQ_APAC/demo_custdb.parquet")

Import pre-saved demo dataset

In [0]:
# import demo dataset from customer db
import pandas as pd

df_policies = spark.read.parquet("/mnt/sgpdcompstrappdata01/20230801-customer/DQ_APAC/demo_custdb.parquet").toPandas()
df_policies

/databricks/spark/python/pyspark/sql/pandas/utils.py:124: UserWarning: The conversion of DecimalType columns is inefficient and may take a long time. Column names: [Cons_CustomerID] If those columns are not necessary, you may consider dropping them or converting to primitive types before the conversion.
  warnings.warn(

,Cons_CustomerID,Salutation,Full_Name,National_Identifier,ZipCode,Phone_1,Phone_2,Mobile_1,Mobile_2,Email,Email_2,Nationality,Gender,DOB
0,2021010012131755,,ISNANIAH,6305094705890001,,00,,085349455591,,None,,-1,,1989-05-07
1,2017020008386435,-1,ASMARA,2171033112590028,-1,None,-1,-1,-1,None,-1,-1,None,Dec 31 1959 12:00AM
2,2015020005410740,-1,CATUR SEPTIASTO,2171100409870001,-1,None,-1,-1,-1,None,-1,-1,OTHERS,Sep 4 1987 12:00AM
3,2013020013024262,-1,WAHIDIN,3329170806920007,-1,None,-1,-1,-1,None,-1,-1,None,Jun 8 1992 12:00AM
4,2013020000957210,-1,YULIANA,3201176108940003,-1,None,-1,-1,-1,None,-1,-1,OTHERS,Aug 21 1994 12:00AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2013020005423551,-1,KUSNARI,3574030312600003,-1,None,-1,-1,-1,None,-1,-1,None,Dec 3 1960 12:00AM
996,2018020013434028,-1,EVENDI,1502191709910001,-1,None,-1,-1,-1,None,-1,-1,None,Sep 17 1991 12:00AM
997,2020020012017190,-1,BAGJA NIRWANA,3217090104930011,-1,None,-1,-1,-1,None,-1,-1,None,Apr 1 1993 12:00AM
998,2018010006165017,,ROSALINE CARISSA AVERINA,,,None,,,,None,,-1,,None
999,2019020001766528,-1,ITA SOFIANA,3326164505880001,-1,None,-1,-1,-1,None,-1,-1,None,May 5 1988 12:00AM

Run check

In [0]:
df_processed, dq_summary = calculate_data_quality(df_policies, config_with_uniqueness)

View output

In [0]:
df_processed[df_processed['National_Identifier__Validity']==False]

,Cons_CustomerID,Salutation,Full_Name,National_Identifier,ZipCode,Phone_1,Phone_2,Mobile_1,Mobile_2,Email,...,Mobile_1__Accuracy,Mobile_1__Uniqueness,Mobile_2__Completeness,Mobile_2__Validity,Mobile_2__Accuracy,Mobile_2__Uniqueness,ZipCode__Completeness,ZipCode__Validity,ZipCode__Accuracy,ZipCode__Uniqueness
7,2004010002765872,None,HASAN,None,None,None,None,None,None,None,...,True,True,False,False,True,True,False,False,True,True
16,2019010000371035,,JINNY DJOEMARNO,,,None,,08176602018,,JOE.JINNY@YAHOO.COM,...,True,True,False,False,True,True,False,False,True,True
18,2017010013026559,,WANDI YUANDENDI,,,None,,08568250851,,None,...,True,True,False,False,True,True,False,False,True,True
20,2019020013820439,-1,CV HD MOBILE,,-1,None,-1,-1,-1,None,...,True,True,True,False,True,True,True,False,True,True
54,2011010011905839,PT,BANK BRI SYARIAH KANTOR CABANG KEDIRI,,,62354672114,,,,None,...,True,True,False,False,True,True,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,2010010012812079,None,ASFERI ARDIYANTO,None,None,None,None,081535295259,None,None,...,True,True,False,False,True,True,False,False,True,True
986,2019010002131134,,NOOR AZIZAH,,,None,,,,None,...,True,True,False,False,True,True,False,False,True,True
988,2021010013932725,,ANDIKO,,,None,,6281311319080,,None,...,True,True,False,False,True,True,False,False,True,True
990,2018010013973273,,YANUAR MUAYYAD,,,None,,08574873441,,None,...,True,True,False,False,True,True,False,False,True,True
998,2018010006165017,,ROSALINE CARISSA AVERINA,,,None,,,,None,...,True,True,False,False,True,True,False,False,True,True

In [0]:
dq_summary

,Completeness,Validity,Accuracy,Uniqueness,Data Quality
National_Identifier,85.20%,83.40%,100.00%,100.00%,71.06%
Full_Name,99.80%,99.60%,100.00%,100.00%,99.40%
DOB,100.00%,91.00%,100.00%,100.00%,91.00%
Email,12.70%,12.30%,100.00%,11.40%,0.18%
Email_2,68.90%,0.00%,100.00%,0.30%,0.00%
Phone_1,14.10%,8.50%,100.00%,100.00%,1.20%
Phone_2,69.00%,0.10%,100.00%,100.00%,0.07%
Mobile_1,93.00%,20.70%,100.00%,100.00%,19.25%
Mobile_2,69.60%,0.70%,100.00%,100.00%,0.49%
ZipCode,70.20%,1.20%,100.00%,100.00%,0.84%

In [0]:
df_processed[df_processed.filter(regex='(__Validity|__Completeness|__Accuracy)$').columns]

,National_Identifier__Completeness,National_Identifier__Validity,National_Identifier__Accuracy,Full_Name__Completeness,Full_Name__Validity,Full_Name__Accuracy,DOB__Completeness,DOB__Validity,DOB__Accuracy,Email__Completeness,...,Phone_2__Accuracy,Mobile_1__Completeness,Mobile_1__Validity,Mobile_1__Accuracy,Mobile_2__Completeness,Mobile_2__Validity,Mobile_2__Accuracy,ZipCode__Completeness,ZipCode__Validity,ZipCode__Accuracy
0,True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,False,False,True,False,False,True
1,True,True,True,True,True,True,True,True,True,False,...,True,True,False,True,True,False,True,True,False,True
2,True,True,True,True,True,True,True,True,True,False,...,True,True,False,True,True,False,True,True,False,True
3,True,True,True,True,True,True,True,True,True,False,...,True,True,False,True,True,False,True,True,False,True
4,True,True,True,True,True,True,True,True,True,False,...,True,True,False,True,True,False,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,True,True,True,True,True,True,True,True,True,False,...,True,True,False,True,True,False,True,True,False,True
996,True,True,True,True,True,True,True,True,True,False,...,True,True,False,True,True,False,True,True,False,True
997,True,True,True,True,True,True,True,True,True,False,...,True,True,False,True,True,False,True,True,False,True
998,False,False,True,True,True,True,True,False,True,False,...,True,False,False,True,False,False,True,False,False,True
999,True,True,True,True,True,True,True,True,True,False,...,True,True,False,True,True,False,True,True,False,True